@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

:root {
	--no-color: transparent;
	--white: #ffffff;
	--ligh-gray: #909090;
	--charcoal: #424242;
	--pink: #f11075;
	--blue: #0277bd;
}

/* top navigation */
.nav-top {
	position: fixed;
	display: block;
	height: 56px;
}

.nav-top-container {
	display: flex;
	height: 100%;
}

/* bottom navigation */

.nav-bottom {
	position: fixed;
	display: block;
	height: 56px;
}

.nav-bottom-container {
	display: flex;
	height: 100%;
}
