@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

:root {
	--no-color: transparent;
	--white: #ffffff;
	--ligh-gray: #909090;
	--charcoal: #424242;
	--pink: #f11075;
	--blue: #0277bd;
}

/* top navigation */
.nav-top {
	position: fixed;
	display: block;
	height: 56px;
}

.nav-top-container {
	display: flex;
	height: 100%;
}

/* bottom navigation */

.nav-bottom {
	position: fixed;
	display: block;
	height: 56px;
}

.nav-bottom-container {
	display: flex;
	height: 100%;
}

/* buser */
.error-page .ep-content[data-v-62f72a14] {
	min-height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.error-page .ep-content .epc-image[data-v-62f72a14] {
	margin-right: 24px;
}
.error-page .ep-content .epc-text .epct-title[data-v-62f72a14] {
	max-width: 650px;
	font-family: Montserrat, sans-serif;
	font-size: 1.75rem;
	font-weight: 700;
	padding-bottom: 8px;
}
@media (min-width: 768px) {
	.error-page .ep-content .epc-text .epct-title[data-v-62f72a14] {
		font-size: 2.5rem;
	}
}
.nuxt-progress {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	width: 0;
	opacity: 1;
	transition: width 0.1s, opacity 0.4s;
	background-color: #f11075;
	z-index: 999999;
}
.nuxt-progress.nuxt-progress-notransition {
	transition: none;
}
.nuxt-progress-failed {
	background-color: red;
}
.ada-link.l-style-link[data-v-58e6d17d] {
	color: #f11075;
	font-weight: 700;
}
.ada-link.l-style-link.l-white[data-v-58e6d17d],
.ada-link.l-style-link.l-white[data-v-58e6d17d] :not(svg):not(path):not(use) {
	color: #fff;
}
.ada-link.l-style-link.l-gray[data-v-58e6d17d],
.ada-link.l-style-link.l-gray[data-v-58e6d17d] :not(svg):not(path):not(use) {
	color: #909090;
}
.ada-link.l-style-link.l-black[data-v-58e6d17d],
.ada-link.l-style-link.l-black[data-v-58e6d17d] :not(svg):not(path):not(use) {
	color: #424242;
}
.ada-link.l-style-button[data-v-58e6d17d] {
	align-items: center;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-weight: 700;
	justify-content: center;
	white-space: nowrap;
	padding: 12px 24px;
	width: 100%;
}
@media (min-width: 768px) {
	.ada-link.l-style-button[data-v-58e6d17d] {
		width: auto;
	}
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-primary[data-v-58e6d17d] {
	background-color: #f11075;
	border: 1px solid #ad1457;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-primary[data-v-58e6d17d]:hover {
	background-color: #f26995;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-green[data-v-58e6d17d] {
	background-color: #058919;
	border: 1px solid #035810;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-green[data-v-58e6d17d]:hover {
	background-color: #40b552;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-blue[data-v-58e6d17d] {
	background-color: #0277bd;
	border: 1px solid #0277bd;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-blue[data-v-58e6d17d]:hover {
	background-color: #0277bd;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-white[data-v-58e6d17d] {
	background-color: #fff;
	border: 1px solid #ad1457;
	color: #f11075;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-white[data-v-58e6d17d]:hover {
	background-color: #f26995;
	color: #fff;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-black[data-v-58e6d17d] {
	background-color: #424242;
	border: 1px solid #000;
}
.ada-link.l-style-button:not(.l-button-outline):not(.l-button-transparent).l-button-black[data-v-58e6d17d]:hover {
	background-color: #fff;
	color: #424242;
}
.ada-link.l-style-button.l-button-transparent[data-v-58e6d17d]:not(.l-button-outline) {
	background-color: transparent;
	border: none;
	width: auto;
}
.ada-link.l-style-button.l-button-transparent:not(.l-button-outline).l-button-primary[data-v-58e6d17d] {
	color: #f11075;
}
.ada-link.l-style-button.l-button-transparent:not(.l-button-outline).l-button-green[data-v-58e6d17d] {
	color: #058919;
}
.ada-link.l-style-button.l-button-transparent:not(.l-button-outline).l-button-blue[data-v-58e6d17d] {
	color: #0277bd;
}
.ada-link.l-style-button.l-button-transparent:not(.l-button-outline).l-button-white[data-v-58e6d17d] {
	color: #fff;
}
.ada-link.l-style-button.l-button-transparent:not(.l-button-outline).l-button-black[data-v-58e6d17d] {
	color: #424242;
}
.ada-link.l-style-button.l-button-transparent[data-v-58e6d17d]:not(.l-button-outline):hover {
	background-color: transparent;
}
.ada-link.l-style-button.l-button-inactive[data-v-58e6d17d] {
	background-color: #e5e5e5;
	border-color: #c1c1c1;
	color: #fff;
}
.ada-link.l-style-button.l-button-outline[data-v-58e6d17d] {
	background-color: #fff;
	color: #424242;
	border: 1px solid #424242;
}
.ada-link.l-style-button.l-button-outline.l-button-transparent[data-v-58e6d17d] {
	background-color: transparent;
}
.ada-link.l-style-button.l-button-outline.l-button-black[data-v-58e6d17d] {
	border-color: #424242;
	color: #424242;
}
.ada-link.l-style-button.l-button-outline.l-button-primary[data-v-58e6d17d] {
	border-color: #f11075;
	color: #f11075;
}
.ada-link.l-style-button.l-button-outline[data-v-58e6d17d]:hover:not(.l-button-inactive):not(.l-button-transparent) {
	background-color: #424242;
	border-color: #000;
	color: #fff;
}
.ada-link.l-style-button.l-button-outline:hover:not(.l-button-inactive).l-button-transparent[data-v-58e6d17d] {
	background-color: #fff;
}
.ada-link.l-style-button.l-button-outline:hover:not(.l-button-inactive).l-button-primary[data-v-58e6d17d] {
	background-color: #f26995;
	border-color: #ad1457;
	color: #fff;
}
.ada-link.l-style-button.l-button-rounded[data-v-58e6d17d] {
	border-radius: 44px;
}
.ada-link.l-style-button.l-button-block[data-v-58e6d17d] {
	width: 100%;
}
.confirmacao-celular-alerta[data-v-3f88c43c] {
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	font-weight: 400;
}
.confirmacao-celular-alerta .cca-sms-text[data-v-3f88c43c] {
	color: #f11075;
	cursor: pointer;
	margin-left: 6px;
	font-weight: 700;
	font-size: 0.875rem;
	white-space: nowrap;
}
.confirmacao-celular-alerta .cca-sms-text.disabled[data-v-3f88c43c] {
	color: #909090;
	cursor: auto;
}
.taskbar .t-back[data-v-4811fe2c] {
	padding: 16px 24px;
}
.taskbar .t-logo[data-v-4811fe2c] {
	margin-right: 16px;
}
.taskbar .t-logo img[data-v-4811fe2c] {
	width: 100%;
}
.taskbar .t-menu-link-relative[data-v-4811fe2c] {
	position: relative;
	color: inherit;
	font-weight: inherit;
}
.taskbar .t-avatar-button[data-v-4811fe2c] {
	border-radius: 50%;
	height: auto;
}
.taskbar.t-dark .t-logo[data-v-4811fe2c] {
	filter: grayscale(1) brightness(100);
}
.taskbar.t-dark .t-menu-link[data-v-4811fe2c] {
	color: #fff;
}
.taskbar.t-hide-on-scroll[data-v-4811fe2c] {
	transition: transform 0.2s ease-in-out;
}
.taskbar.t-hide-on-scroll.thos-hidden[data-v-4811fe2c] {
	transform: translateY(-100%);
}
.taskbar .alert[data-v-4811fe2c] {
	background-color: #d86715;
}
.taskbar.t-dark .a-img {
	filter: grayscale(1);
}
.taskbar.t-dark .ada-notification {
	border-color: #000;
}
.taskbar.t-has-back .ada-container {
	padding-left: 0;
}
.taskbar .nav-icon-wrapper {
	position: relative;
	display: inline-block;
}
.taskbar .t-menu-link {
	position: relative;
}
.taskbar .t-menu-link.is-active:before,
.taskbar .t-menu-link:hover:before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	height: 2px;
	background-color: #f11075;
}
.cookie-policy-alert[data-v-17338381] {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #424242;
	z-index: 44;
}
.cookie-policy-alert .cpa-wrapper[data-v-17338381] {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 95px;
	padding: 16px 24px;
}
.cookie-policy-alert .cpa-text .cpat-link[data-v-17338381],
.cookie-policy-alert .cpa-text[data-v-17338381] {
	color: #fff;
	line-height: 24px;
	font-weight: 400;
}
@media (max-width: 767px) {
	.cookie-policy-alert .cpa-text .cpat-link[data-v-17338381],
	.cookie-policy-alert .cpa-text[data-v-17338381] {
		line-height: 20px;
		font-size: 12px;
	}
}
.cookie-policy-alert .cpa-text .cpat-link[data-v-17338381] {
	text-decoration: underline;
}
.cookie-policy-alert .cpa-button[data-v-17338381] {
	margin-left: 24px;
}
.andromeda.has-taskbar[data-v-ecc56120] {
	padding-top: 56px;
}
@media (min-width: 768px) {
	.andromeda.has-taskbar[data-v-ecc56120] {
		padding-top: 72px;
	}
}
@media (max-width: 767px) {
	.andromeda.has-bottom-nav[data-v-ecc56120] {
		padding-bottom: 56px;
	}
}
.andromeda.dark-mode[data-v-ecc56120] {
	background-color: #000;
}
