@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
	--no-color: transparent;
	--white: #ffffff;
	--light-gray: #909090;
	--charcoal: #424242;
	--pink: #f11075;
	--blue: #0277bd;
}

* {
	font-family: "Roboto", sans-serif;
}

head {
	display: none;
}

body {
	height: 100vh;
	width: 100vw;
}

.layout {
	display: grid;
	align-content: space-between;
	height: 100%;
	width: 100%;
}

/* top navigation */
.nav-top {
	display: flex;
	height: 56px;
}

/* bottom navigation */

.nav-bottom {
	display: flex;
	height: 56px;
}

/* main content */
main {
	display: flex;
	flex-direction: column;
}
